body {
  font-family: "Lato";
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.add-button {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border-color: transparent;
  font-weight: 800;
  cursor: pointer;
  color: white;
  background-color: #fe4a49;
  font-size: 1rem;
}

#map {
  height: 100rem;
}
